<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel="preload" th:href="@{css/app.css}" as="style">-->
    <!--    <link rel="stylesheet" th:href="@{css/app.css}">-->
    <script th:src="@{js/app.32a74083.js}" defer></script>
    <script th:src="@{chunk-vendors.743d23d0.js}" defer></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.__INITIAL_STATE__ = /*[[${state}]]*/ {};
        /*]]>*/
    </script>
    <title>Document</title>
</head>
<body th:utext="${rendered}">
</body>
</html>